<div class="login-div">
    <h3>Login!</h3>
    <form class="login-form">
       <div>
           <label for="userName-login">Username</label>
           <input type="text" id="userName-login"/>
       </div>
        <div>
           <label for="password-login">password</label>
           <input type="text" id="password-login"/>
       </div>
       <button id="loginBtn">Login!</button>
       <a href="/signup" type="button">Sign Up</a>
    </form>
</div>
<script src="/js/login.js"></script>