<div class="login-div">
    <h3>Sign Up!</h3>
    <form class="signup-form">
       <div>
           <label for="userName-signup">Username</label>
           <input type="text" id="userName-signup"/>
       </div>
        <div>
           <label for="password-signup">password</label>
           <input type="text" id="password-signup"/>
       </div>
       <button id="signupBtn" type="submit">Sign Up!</button>
       <a href="/login" type="button">Login!</a>
    </form>
</div>

<script src="/js/signup.js"></script>