<div class="signup-form">
    <div class="column">
        <p class="title">DIN DIN</p>
        <form>
            <p>Sign Up:</p>
            <div>
                <label for="userName-signup">Username</label>
                <input type="text" id="userName-signup" />
            </div>
            <div>
                <label for="name-signup">Name</label>
                <input type="text" id="name-signup" />
            </div>
            <div>
                <label for="email-signup">Email</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <input type="text" id="password-signup" />
            </div>
            <button id="signupBtn" type="submit">Sign Up!</button>
            <a href="/login" type="button">Login!</a>
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>