body {
    background-image: url("../images/dog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 25%;
    right: 50%;
    width: 50%;
    border: 3px solid #0092d6;
    background-color: aquamarine;
}

nav {
background-color: aquamarine;
}

.column {
    text-align: center;
    font-size: 24px;
}

.login-div {
    vertical-align: middle;
}

.title {
    font-size: 72px;
    font-family: 'Gluten', cursive;
}

