body {
    text-align: center;
}
footer {
    color: black;
}
nav {
background-color: rgb(151, 67, 247);
}
nav a {
    color: white;
}

.column {
    text-align: center;
    font-size: 24px;
}

.login-form  {
    vertical-align: middle;
}

.signup-form {
    vertical-align: middle;
}

.title {
    font-size: 90px;
    font-family: 'Gluten', cursive;
}

